@font-face {
    font-family: 'Inter var experimental';
    font-weight: 100 900;
    font-display: swap;
    font-style: oblique 0deg 10deg;
    src: url("/fonts/Inter.var.woff2") format("woff2");
  }

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Inter var experimental", sans-serif;
}

body {
  height: 100%;
  padding: 60px 0;
}

input, select {
  border: none;
  border-radius: 10px;
  background-color: #F5F5F5;
  padding: 5px;
}

.o-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #EBEBEB;
  width: 130px;
  height: 100%;
}

.menu-title {
  margin: 0;
  margin-bottom: 100px;
  font-size: 36px;
  font-weight: 600;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  margin-right: -4px;
  margin-bottom: 24px;
}

.menu-item-selected {
  border-right: 2px solid #7D7AFA;
  fill: #7D7AFA;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  flex: 1;
}

.main-title {
  margin: 0;
  margin-bottom: 63px;
  font-size: 72px;
  font-weight: 600;
  color: #E5E5E5;
}

.cards {
  display: flex;
  margin-bottom: 60px;
}

.card {
  padding: 24px;
  margin-right: 24px;
  width: 210px;
  height: 150px;
  background-color: #F5F5F5;
  border-radius: 30px;
  cursor: pointer;
}

.card-selected {
  background-color: #7D7AFA;
  color: #FFFFFF;
}

.card-location {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.card-number {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

.card-unit {
  font-size: 14px;
  margin: 0;
}

.chart-container {

}

.chart-header {
  display: flex;
  justify-content: space-between;
}

.chart-title {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 24px;
}

.filter-group-by {
  margin-right: 5px;
}

.chart {
  width: 100%;
}

/* Settings */

.location-settings {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 200px; 
  gap: 10px;
}